.App {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #E4E3DE;
}
.app_body{
  display: flex;
  background-color: white;
  height: 94vh;
  width: 80vw;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
